body {
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #343a40;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav_inicio {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 200px;
    margin-right: 50px;
}

.Titulo {
    color: white; /* Color del texto en blanco */
    font-size: 24px; /* Tama침o del texto */
    margin: 0; /* Quitamos m치rgenes */
}

.Parrafo {
    color: white; /* Color del texto en blanco */
    font-size: 24px; /* Tama침o del texto */
    margin: 0; /* Quitamos m치rgenes */
}

.carousel {
    margin-top: 20px; /* Espacio superior antes del carrusel */
}
