body {
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #343a40;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav_inicio {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 200px;
    margin-right: 50px;
}

.Titulo {
    color: white; /* Color del texto en blanco */
    font-size: 26px; /* Tamaño del texto */
    margin: 0; 	/* Quitamos márgenes */
}

.carousel {
    margin-top: 10px; /* Espacio superior antes del carrusel */
}

.carousel-item img {
    height: 800px;
}

.carousel-caption h5 {
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.carousel-caption p {
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); 
